#nav-bar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    font-family: "Century Gothic";
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;}
#nav-bar a{
    padding: 10px;
    background-color: rgba(130,154,118, 0.56);
    text-decoration: none;
    color: Black;
    border-radius: 14px;
font-size: 25px;}
#nav-bar a:hover{
    cursor: pointer;
    animation: ChangingBackground 3s infinite ;
    border-radius: 20px;}
#nav-bar-div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes ChangingBackground {
    0%{ background-color:unset;color: black;transform: scale(1.0)}
    25%{background-color: rgba(130,154,118, 0.56); color: white;transform: scale(0.9)}
    50%{background-color:unset;color: black;transform: scale(1.1)}
    75%{background-color: rgba(130,154,118, 0.56);color: white;transform: scale(0.9)}
    100%{background-color:unset; color: black; transform: scale(1.0)}
}
#Top10BookList{
    width: 20%;
    height: 80%;
    margin-left: 2.3%;
    border: 3px solid black;
    border-radius: 5%;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Times New Roman";
    font-size: 20px;
    color: blanchedalmond;
    float: left;
}
#Top10BookList h3{
    text-align: center;
}
#Top10BookList hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}
#body-index {
    background-image: url("../img/lights-room-warm-1952245-wallhere.com.jpg");
    background-size: cover;
}
#ToppingTop10{
    float: right;   border: 3px solid black;
    margin-right: 20%;
    padding: 10px;
    background-color:rgba(130,154,118, 0.56);
    margin-left: 20%;
    border-radius: 20px;
}
#Top-selling{
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255,0.7);
    width: 55%; border-radius: 20px;
    padding: 10px;
    text-align: center;
}
#image-in-mid{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 0px;
}
#top-10-scroll{
    overflow-y: scroll; height: 80%; width: 100%;
}
#Top10Numbering{
    border: 1px solid black;
    margin-left: 44%;
    margin-right: 44%;
    text-align: center;
    border-radius: 100%
}
#DetailsBook{
    float: left;
    text-align: center;
    font-family: "High Tower Text";
    font-size: 20px;
    border-radius: 5px;
    padding: 30px;
    color: whitesmoke;
    margin-left:291px;
    background: rgba(0,0,0,0.6);
    width: 432px; margin-top:30px;
    height: 620px;
}

.ContactForm {
    margin:2rem auto;
    max-width: 300px;
    padding: 1rem 2rem;
    display: block;
    margin-top: 10%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-family:Gabriola;
    font-size: 20px;
}
.ContactForm label {
    display: block;
    font-family: -apple-system;
}
.ContactForm input, textarea{
    display: block;
    width: 100%;
    font-size: 20px;
    border: none;
    font-family: -apple-system;
}

#MyContactPageBody h3{
    text-align: center;
    font-family: -apple-system;
    background: linear-gradient(#8694C8,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#MyContactPageBody input, textarea{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2);
    font-family: -apple-system;
}
#MyContactPageBody label, input::placeholder, textarea::placeholder{
    background: linear-gradient(#8694C8,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: -apple-system;
}
#MyContactPageBody {
    background-image: url("../img/2495573.png");
}

#ContactSubmit{
    padding: 0.3rem;
    margin: 0.5rem 0;
    display: block;
    width: auto;
    cursor: pointer;
    margin-left: 36%;
    font-family: -apple-system;
    font-size: 20px;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#ContactSubmit:hover{
    background: #faf49e;
}
#ContactNameInput,#ContactEmailInput, #ContactMessageInput{
    border: transparent;
}